Pillow
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bleach==1.4
boto==2.6.0
distribute==0.6.24
html5lib==1.0b3
lxml==3.3.5
mox==0.5.3
nltk==2.0.4
pdfminer==20110515
phply==0.9.1
ply==3.4
pyPdf==1.13
pymongo==2.3
requests==2.2.1
numpy
scipy
scikit-learn==0.14.1
selenium==2.42.1
six==1.6.1
tornado==2.4
wsgiref==0.1.2
bcrypt	
MySQL-python