<html ng-app="MatchingApp">
  <head>
      <title>Control Panel</title>

      <!-- Bootstrap styles -->
      <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">

      <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">

      <link rel="stylesheet" href="static/css/styles.min.css">

      <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
      <link rel="stylesheet" href="static/css/jquery.fileupload.css">
      <link rel="stylesheet" href="static/css/jquery.fileupload-ui.css">

      <script src="static/js/jquery.js"></script>
      <script src="static/js/jquery-ui.min.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
      <script src="static/bower_components/angular/angular.min.js"></script>
      <script src="static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="static/bower_components/showdown/src/showdown.js"></script>
      <script src="static/bower_components/angular-markdown-directive/markdown.js"></script>
      <script src="static/bower_components/angular-route/angular-route.min.js"></script>
      <script src="static/bower_components/angular-gravatar/build/angular-gravatar.min.js"></script>
      <script src="static/bower_components/raphael/raphael-min.js"></script>
      <script src="static/bower_components/tinycolor/tinycolor.js"></script>
      <script src="static/bower_components/lodash/lodash.min.js"></script>

      <script src="static/app/app.min.js"></script>

      <!-- The Template and jQuery File Upload scripts -->
  </head>

  <body class="control-panel">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#profile">Matching System</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{ 'active': activeLink == 'profile' }"><a href="#profile"><i class="fa fa-user"></i> Profile</a></li>
            <li ng-class="{ 'active': activeLink == 'engine' }"><a href="#engine"><i class="fa fa-cogs"></i> Engine</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <a class="btn btn-default" href="logout"><i class="fa fa-sign-out"></i> Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <div class="wrapper" ng-view>
    </div>

  </body>
</html>
