<html>
<head>
    <title>Login</title>

	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/site.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <link href="/static/css/jcarousel.css" rel="stylesheet" />
    <link href="/static/css/notification.css" rel="stylesheet" />
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="page-title">
    Please login:
</h2>
<div class="box">
    <form id="login_form" action="login" method="post">
        <label class="grey" for="log">Username</label><br />
        <input type="text" name="username" style="width:99%" id="username"><br>
        <label class="grey" for="pwd">Password</label><br />
        <input type="password" name="password" style="width:99%" id="password"><br />
        <input type="submit" id="loginbtn" name="login" value="LOGIN" class="button"><br />
    </form>
</div>

<br/>
<a href='register'>Register</a>
<br/>
<a href='twitter_login'> Login with Twitter </a> <br/>
<a href='facebook_login'> Login with Facebook </a> <br/>
<a href='file_upload'> Upload the Pdf(Test)</a> <br/>
</body>
</html>
