<html>
<head>
    <title>Login</title>

	  <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>
  <body class="signin">

    <div class="container">
      <form class="form-signin" action="login" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        {% if error_msg %}
          <div class="alert alert-danger">
            {{error_msg}}
          </div>
        {% end %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="next" value={{ next }}>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a href="register" class="btn btn-lg btn-default btn-block" type="submit">Register</a>
      </form>
    </div>
  <!--
  <a href='twitter_login'> Login with Twitter </a> <br/>
  <a href='facebook_login'> Login with Facebook </a> <br/>
  <a href='file_upload'> Upload the Pdf(Test)</a> <br/>
  <a href='control'> Control Panel</a> <br/>-->

  </body>
</html>
