<html>
<head>
    <title>Upload a file</title>

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/site.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
             $('<div/>', {
                 'class' : 'extraUpload', html: GetHtml()
             }).appendTo('#container');  // Get the html from template
             $('#addRow').click(function () {
                   $('<div/>', {
                       'class' : 'extraUpload', html: GetHtml()
             }).hide().appendTo('#container').slideDown('slow');  // Get the html from template and hide and slideDown for transition.

             });
        })
        function GetHtml()  // Get the template and update the input field names
        {
            //var len = $('.extraUpload').length;
            var $html = $('.extraUploadTemplate').clone();
            //$html.find('[name=title]')[0].name = "title" + len;
            //$html.find('[name=abstract]')[0].name = "abstract" + len;
            return $html.html();
        }
    </script>
</head>
<body>
<h2 class="page-title">
    Upload articles
</h2>

<div class="extraUploadTemplate" style="display:none">
    <h4>Choose a PDF file to upload</h4>
    <div class="form-group">
        <input type="file" name="file">
    </div>
    <input placeholder="Title" type="text" name="title"><br>
    <textarea rows="5" cols="40" placeholder="Abstract" type="text" name="abstract"></textarea>
</div>

<div class="box">
    <form method="POST" enctype="multipart/form-data" action="/paper_upload" style="margin-bottom: 0px">

        <div id="container" style="margin-top: 0px"></div>

        <a href="#" id="addRow"><i class="icon-plus-sign icon-white"></i> Add another file</p></a>
        <div class="form-group" style="margin-bottom: 0px">
            <button type="submit" class="btn btn-blue btn-rounded"><i class="fa fa-download"></i> Upload</button>
        </div>
    </form>
</div>

</body>
</html>