<div id="chartjs-tooltip"></div>

<h1>Topics matching <span class="text-muted"><i>"{[keyword]}"</i></span></h1>

<button class="btn btn-primary pull-right" ng-click="next()">Next <i class="fa fa-long-arrow-right"></i></button>
<button class="btn btn-default pull-right" style="margin-right: 10px" ng-click="newSearch()"><i class="fa fa-search"></i> Start a new search</button>

<div style="clear: both; margin-bottom: 20px"></div>

<div id="engine-container">
  <div id="topics-container" ng-class="{ 'hasRightPanel': relatedArticles }">
    <button class="btn btn-default btn-block" id="toggle-history" ng-click="toggleHistory()" ng-show="currentIteration > 1">
      <span ng-hide="showHistory">Show my history <i class="fa fa-chevron-down"></i></span>
      <span ng-show="showHistory">Hide my history <i class="fa fa-chevron-up"></i></span>
    </button>

    <ul id="history-list" ng-show="showHistory">
      <li ng-repeat="history in iterationHistory | orderBy: 'itration' | limitTo: -5">
        <h4 class="text-center">{[history.iteration]}. iteration</h4>

        <div class="progress">
          <div class="progress-bar" ng-style="{ 'width': topic.portion }" tooltip content="topic.keywordsToString" ng-repeat="topic in history.topics">
            {[topic.keywordsToString]}
          </div>
        </div>
      </li>
      <li><h4 class="text-center">Current iteration</li></li>
    </ul>

    <p class="text-muted text-center" ng-show="loading" style="margin-top: 25px; font-size: 2em">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </p>

    <ul id="topic-list" ng-hide="loading">
      <li ng-repeat="topic in topics" ng-class="{ 'chosen': topic.selected, 'randomly-chosen': topic.random }">
        <div class="random-topic" tooltip content="'This topic was randomly chosen'" ng-show="topic.random">
          <i class="fa fa-random"></i>
        </div>

        <div class="topic-keywords" ng-click="chooseTopic(topic)">
          <span ng-repeat="keyword in topic.keywords" ng-style="{ 'font-size': 1 + keyword.weight + 'em' }">{[keyword.label]}</span>
        </div>

        <div ui-slider="{ orientation: 'horizontal', range: 'min', min: 0, max: 1, animate: true, step: 0.1 }" ng-model="topic.weight"></div>
      </li>
    </ul>
  </div>

  <div id="topic-articles-container" ng-show="relatedArticles">
    <div class="wrapper">
      <button type="button" class="close pull-right" aria-label="Close" ng-click="unchooseTopics()"><span aria-hidden="true" style="font-size: 1.5em">&times;</span></button>

      <h2>Most related articles</h2>

      <div polar-chart ng-model="relatedArticles" click="chooseArticle" legend-container="polar-legend"></div>

      <div id="polar-legend" style="margin-top: 25px"></div>

      <p class="text-muted" style="margin-top: 25px" ng-hide="chosenArticle">
        Choose an article from the chart by clicking it.
      </p>

      <div ng-show="chosenArticle">
        <h3>{[chosenArticle.title]}</h3>
        <p class="text-muted">{[chosenArticle.authors]}</p>
        <p mathjax-bind="chosenArticle.abstract"></p>

        <p class="text-muted">People related to this article</p>

        <ul id="article-people-list">
          <li ng-repeat="person in chosenArticle.people">
            <div tooltip content="person.name" ng-style="{ 'background-image': 'url(' + person.profile_picture + ')' }" ng-click="choosePerson(person)"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="person-modal" tabindex="-1" role="dialog" modal show="chosenPerson">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="person-picture" ng-style="{ 'background-image': 'url(' + chosenPerson.profile_picture + ')' }"></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{[chosenPerson.name]}</h4>

      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li><strong>Email:</strong> {[chosenPerson.email]}</li>
          <li><strong>Phone:</strong> {[chosenPerson.phone]}</li>
          <li><strong>Room:</strong> {[chosenPerson.room]}</li>
          <li><strong>group:</strong> {[chosenPerson.group]}</li>
          <li><strong>Homepage:</strong> <a ng-href="{[chosenPerson.homepage]}" target="_blank">{[chosenPerson.homepage]}<i class="fa fa-external-link" style="margin-left: 4px;"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
