<div class="row">
  <div class="col-md-6">
    <h1>My profile</h1>
    <div class="media">
      <div class="media-left">
        <img gravatar-src="'kalle.ilves@helsinki.fi'" gravatar-size="150">
      </div>

      <div class="media-body">
        <div id="profile-bio" ng-class="{ 'editing-bio': bio.editing }">
          <div id="bio-content">
            <p btf-markdown="bio.content">
            </p>
            <p>
              <button class="btn btn-default" id="edit-bio" ng-click="editBio()"><i class="fa fa-pencil"></i> Edit</button>
            </p>
          </div>

          <div id="new-bio">
            <p class="text-muted">
              Tip: You can use <a href="https://help.github.com/articles/markdown-basics/" target="_blank">markdown</a> in this field.
            </p>
            <div class="form-group">
              <textarea class="form-control" rows="8" ng-model="bio.content"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success" ng-click="updateBio()"><i class="fa fa-check"></i> Done</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <h1>Upload articles</h1>
    <div id="upload">
        <form id="fileupload" action="/control" method="POST" enctype="multipart/form-data">
            <div class="row fileupload-buttonbar">
                <div>
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <!--<input type="checkbox" class="toggle">-->
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>

            <hr>
            <h2>My articles</h2>
            <!-- The table listing the files available for upload/download -->

            <div class="files" id="files"></div>

        </form>
    </div>
  </div>
</div>

<div id="ajax-load-scripts"></div>
