<div class="row">
  <div class="col-md-6">
    <h1>{[bio.user]}'s profile</h1>
    <div class="media">
      <div class="media-left">
        <img gravatar-src="bio.email" gravatar-size="150">
      </div>

      <div class="media-body">
        <div id="profile-bio" ng-class="{ 'editing-bio': bio.editing }">
          <div id="bio-content">
            <p class="text-muted" ng-if="!bio.content">
              You don't have a bio yet, maybe you should write one below
            </p>

            <p btf-markdown="bio.content">
            </p>

            <p>
              <button class="btn btn-default" id="edit-bio" ng-click="editBio()"><i class="fa fa-pencil"></i> Edit</button>
            </p>
          </div>

          <div id="new-bio">
            <p class="text-muted">
              Tip: You can use <a href="https://help.github.com/articles/markdown-basics/" target="_blank">markdown</a> in this field.
            </p>
            <div class="form-group">
              <textarea class="form-control" rows="8" ng-model="bio.content"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success" ng-click="updateBio()"><i class="fa fa-check"></i> Done</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">

    <div id="upload">
        <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data">
          <h1>My articles</h1>
          <!-- The table listing the files available for upload/download -->

          <div class="files" id="files"></div>
          <hr>
          <h2>Upload articles</h2>
            <div class="row fileupload-buttonbar" style="margin: 0px !important">
                <div>
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <!--<input type="checkbox" class="toggle">-->
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="article-abstract-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit article</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" ng-show="activeFile.error">
          Couldn't read the abstract
        </div>
        <p class="text-muted text-center" ng-show="activeFile.loading">
          <i class="fa fa-spin fa-spinner"></i> Loading the abstract...
        </p>
        <div ng-hide="activeFile.error || activeFile.loading">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="activeFile.title">
          </div>
          <div class="form-group">
            <label>Abstract</label>
            <textarea class="form-control" ng-model="activeFile.abstract" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveArticle()" ng-disabled="activeFile.error || activeFile.loading">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="ajax-load-scripts"></div>
